@model karaoke.Models.Event
@{
    ViewBag.Title = "EventGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Event Update</h2>
<br />
@using (Html.BeginForm("EventGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Event Update</button>

}

